
= simple_form_for([@voicemail_account, @voicemail_setting]) do |f|
  = f.error_notification

  = render "form_core", :f => f

  .form-actions
    = f.button :submit, conditional_t('voicemail_settings.form.submit')
