- title t("gs_parameters.index.page_title")

- if @gs_parameters && @gs_parameters.count > 0
  - cache(['gs_parameters_table', @gs_parameters_unordered.order(:updated_at).last, @gs_parameters_unordered.count]) do
    - if @sections
      %table
        - @sections.each do |section|
          %tr
            %td{:colspan => 3}
              %h3= section
          -# Template Dependency: gs_parameters/_index_core 
          = render "index_core", :gs_parameters => @gs_parameters.where(:section => section)
    - else
      %table
        = render "index_core", :gs_parameters => @gs_parameters
