- title t("gs_parameters.index.page_title")

- if @gs_parameters && @gs_parameters.count > 0
  - if @sections
    %table
      - @sections.each do |section|
        %tr
          %td{:colspan => 3}
            %h3= section
        = render "index_core", :gs_parameters => @gs_parameters.where(:section => section)
  - else
    %table
      = render "index_core", :gs_parameters => @gs_parameters

= render :partial => 'shared/create_link', :locals => {:child_class => GsParameter}