- content_for :title, t("gs_parameters.index.page_title")

- cache(['gs_parameter_all_tables', I18n.locale, @gs_parameters.count, @gs_parameters.reorder(:updated_at).first, @gs_parameters.reorder(:updated_at).last]) do
  - if @gs_parameters && @gs_parameters.count > 0
    - if @sections
      - @sections.each do |section|
        %h3= section
        %table.table.table-striped
          -# Template Dependency: gs_parameters/_index_core 
          = render "index_core", :gs_parameters => @gs_parameters.where(:section => section)
    - else
      %table.table.table-striped
        = render "index_core", :gs_parameters => @gs_parameters
