- cache(['gs_parameters_tenant_overview_table', I18n.locale, tenant, GuiFunction.count, GuiFunction.reorder(:updated_at).last, GsParameter.count, GsParameter.reorder(:updated_at).last]) do
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th
          Funktion
        %th
          Anzahl

    %tbody
      %tr
        %td
          = t("gui_functions.name")
        %td
          = link_to link_to Haml::Engine.new("%i.icon-list").render + ' ' + GuiFunction.count.to_s, gui_functions_path
      %tr
        %td
          = t("gs_parameters.name")
        %td
          = link_to link_to Haml::Engine.new("%i.icon-list").render + ' ' + GsParameter.count.to_s, gs_parameters_path
