- phones = @tenant.tenant_user_phones
- cache(['tenant_show_table_of_phones', I18n.locale, tenant, phones.count, phones.reorder(:updated_at).last]) do
  -# Phones
  -#
  %h2= t('phones.index.page_title')
  - if phones.count <= GsParameter.get('NUMBER_OF_SHOWN_ITEMS')
    = render "phones/index_core", :phones => phones, :show_phoneable => true
    = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => Phone}
  - else
    %p
      = link_to t('phones.index.page_title'), tenant_phones_path(tenant) 
