- cache(['user_show_phone_books', I18n.locale, tenant, tenant.phone_books]) do
  -# Phone books
  -#
  - if GuiFunction.display?('show_phone_books_in_user_show_view', current_user)
    - if can?( :index, PhoneBook )
      = render "phone_books/index_core", :phone_books => tenant.phone_books
      = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => PhoneBook}