- title @tenant.name

- if !@tenant.description.blank?
  %p
    %strong= t('tenants.show.description') + ":"
    = @tenant.description

= render :partial => 'shared/show_edit_destroy_part', :locals => { :child => @tenant }

- if @tenant.user_groups.where(:name => 'Admins').any? && @tenant.user_groups.where(:name => 'Admins').first.users.include?(current_user)
  = render :partial => 'admin_area', :locals => { :tenant => @tenant, :gateways => @gateways}