- content_for :title, t("voicemail_accounts.index.page_title")

- if @voicemail_accounts && @voicemail_accounts.count > 0
  = render "index_core", :voicemail_accounts => @voicemail_accounts

= render :partial => 'shared/create_link', :locals => {:parent => @parent, :child_class => VoicemailAccount}