- title t("sip_domains.index.page_title")

- if @sip_domains.count > 0
  = render "index_core", :sip_domains => @sip_domains

= render :partial => 'shared/create_link', :locals => {:child_class => SipDomain}