- title t("gateway_parameters.index.page_title")

- if @gateway_parameters && @gateway_parameters.count > 0
  = render "index_core", :gateway_parameters => @gateway_parameters

= render :partial => 'shared/create_link', :locals => {:child_class => GatewayParameter}