- content_for :title, t("phone_number_ranges.index.page_title")

- if @phone_number_ranges.count > 0
  = render "index_core", :phone_number_ranges => @phone_number_ranges

= render :partial => 'shared/create_link', :locals => {:child_class => PhoneNumberRange}