%table{:class => 'table table-striped'}
  %tr
    <%- for attribute in model_attributes -%>
    %th= t('<%= plural_name %>.index.<%= attribute.name %>')
    <%- end -%>

  
  - for <%= instance_name %> in <%= instances_name %>
    %tr
      <%- for attribute in model_attributes -%>
      %td= <%= instance_name %>.<%= attribute.name %>
      <%- end -%>
      =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:child => <%= instance_name %>}