= simple_form_for(@gs_cluster_sync_log_entry) do |f|
  = f.error_notification

  = render "form_core", :f => f

  .form-actions
    = f.button :submit, conditional_t('gs_cluster_sync_log_entries.form.submit')
