- title t("route_elements.index.page_title")

- if @route_elements && @route_elements.count > 0
  = render "index_core", :route_elements => @route_elements

= render :partial => 'shared/create_link', :locals => {:parent => @call_route, :child_class => RouteElement}