- if @type
  - content_for :title, t("voicemail_messages.index.page_title_#{@type}")
- else
  - content_for :title, t("voicemail_messages.index.page_title")

= render "index_core", :voicemail_messages => @voicemail_messages
