= simple_form_for([@user_group, @user_group_membership]) do |f|
  = f.error_notification

  = render "form_core", :f => f

  .form-actions
    = f.button :submit, conditional_t('user_group_memberships.form.submit')
