- title t("user_group_memberships.index.page_title")

- if @user_group_memberships.count > 0
  = render "index_core", :user_group_memberships => @user_group_memberships

- if @potential_users_count > 0
  = render :partial => 'shared/create_link', :locals => {:parent => @user_group, :child_class => UserGroupMembership}