- title t("user_group_memberships.show.page_title")

%p
  %strong= t('user_group_memberships.show.user') + ":"
  = @user_group_membership.user

= render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @user_group, :child => @user_group_membership }