- content_for :title, t("ringtones.index.page_title")

- if @ringtones.count > 0
  = render "index_core", :ringtones => @ringtones
- else
  = render :partial => 'shared/create_link', :locals => {:parent => @parent, :child_class => Ringtone}