- title t("hunt_groups.index.page_title")

- if @hunt_groups.count > 0
  = render "index_core", :hunt_groups => @hunt_groups

= render :partial => 'shared/create_link', :locals => {:parent => @tenant, :child_class => HuntGroup}