- content_for :title, t("group_memberships.index.page_title")

- if @group_memberships && @group_memberships.count > 0
  = render "index_core", :group_memberships => @group_memberships

= render :partial => 'shared/create_link', :locals => {:parent => @group, :child_class => GroupMembership}
