- content_for :title, t("switchboards.edit.page_title")

.row
  .span12
    = render "form"

.row
  .span12
    - if @switchboard.switchboard_entries && @switchboard.switchboard_entries.count > 0
      = render "switchboard_entries/index_core", :switchboard_entries => @switchboard.switchboard_entries

    = render :partial => 'shared/create_link', :locals => {:parent => @switchboard, :child_class => SwitchboardEntry}