<% content_for :title, "Switchboard #{@switchboard.name}" %>

<div class='row'>
  <div class='span12'>
    <div id='container'>

    </div>

    <script type="text/x-handlebars">
      <h1>{{appName}}</h1>

      <h2>{{title}}</h2>
    </script>


    
  </div>
</div>

<script src="/js/libs/handlebars.js"></script>
<script src="/js/libs/ember.js"></script>
<script src="/js/libs/ember-data.js"></script>
<script src="/js/app.js"></script>
