<% content_for :title, "Switchboard #{@switchboard.name}" %>

<script>
  var switchboard_id = <%= @switchboard.id %>;
  var show_avatars = <%= @switchboard.show_avatars.to_s %>;
  var reload_interval = <%= @switchboard.reload_interval.nil? ? 0 : @switchboard.reload_interval %>;
  var amount_of_displayed_phone_numbers = <%= @switchboard.amount_of_displayed_phone_numbers %>;
</script>

<div class='row'>
  <div class='span12'>
    <div id='emberjs-container'></div>

    <script type="text/x-handlebars">
      {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="switchboard">
      {{#if activeCalls.length}}
        {{#each activeCall in activeCalls}}
          <div {{bindAttr class=":alert activeCall.isActive:alert-success"}}>
            {{#if activeCall.isRinging}}<i class="icon-bell"></i> Neuer {{/if}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Anruf von {{activeCall.b_caller_id_number}} an {{activeCall.destination}} ({{from_now activeCall.start_stamp}}).
          </div>
        {{/each}}
      {{/if}}

      {{#if search_activated}}
        <div class="well span3 pull-right">
          <p>
            {{input type="text" value=searchText size="10" placeholder="Suchen..."}}
          </p>
          <ul>
            {{#each phoneBookEntry in searchResults}}
              <li>
                {{phoneBookEntry.search_result_display}}<br />

                {{#each phoneNumber in phoneBookEntry.phoneNumbers}}
                  <span class="label">
                    {{phoneNumber.number}}
                  </span>

                  {{#each dispatchableIncomingCall in dispatchableIncomingCalls}}
                    {{#if blind_transfer_activated}}
                      <button {{action transfer_blind dispatchableIncomingCall.id phoneNumber.number}} class="btn btn-small">Transfer</button>
                    {{/if}}
                    {{#if attended_transfer_activated}}
                      <button {{action transfer_attended dispatchableIncomingCall.id phoneNumber.number}} class="btn btn-small">Attended Transfer</button>
                    {{/if}}
                  {{/each}}
                {{/each}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      {{#if switchboardEntrys.length}}
        <ul class="thumbnails">
          {{#each switchboardEntry in switchboardEntrys}}
            <li class="span2">
              <div class="thumbnail">
                {{#if switchboardEntry.switchboard.show_avatars}}
                  {{avatar_img switchboardEntry.avatar_src}}
                {{/if}}
                <small>
                <p></p>
                  {{#if switchboardEntry.name}}
                    <p class="text-center">
                      <span class="label">{{switchboardEntry.name}}</span>
                    </p>
                  {{/if}}

                  {{#if switchboardEntry.sipAccount.is_registrated}}
                    {{#if switchboardEntry.switchable}}
                      <p>
                      {{#each phoneNumber in switchboardEntry.sipAccount.phoneNumberShortList}}
                        <span class="label">
                          {{phoneNumber.number}}
                        </span>
                      {{/each}}
                      </p>
                    {{else}}
                      <p>
                      {{#each phoneNumber in switchboardEntry.sipAccount.phoneNumberShortList}}
                        <span class="label">
                          {{phoneNumber.number}}
                        </span>

                        {{#if dispatchableIncomingCalls.length}}
                          <p>
                            {{#each dispatchableIncomingCall in dispatchableIncomingCalls}}
                              {{#if switchboardEntry.switchboard.blind_transfer_activated}}
                                <button {{action transfer_blind dispatchableIncomingCall.id phoneNumber.number}} class="btn btn-small">Transfer</button>
                              {{/if}}
                              {{#if switchboardEntry.switchboard.attended_transfer_activated}}
                                <button {{action transfer_attended dispatchableIncomingCall.id phoneNumber.number}} class="btn btn-small">Attended Transfer</button>
                              {{/if}}
                            {{/each}}
                          </p>
                        {{/if}}
                      {{/each}}
                      </p>
                    {{/if}}

                    {{#if switchboardEntry.sipAccount.calls.length}}
                      <p>
                        {{#each call in switchboardEntry.sipAccount.calls}}
                          <span {{bindAttr class=":label call.isRinging:label-warning:label-success"}}>
                            {{#if call.isRinging}}<i class="icon-bell icon-white"></i>{{/if}}
                            von {{call.b_caller_id_number}} an {{call.destination}}
                          </span>
                        {{/each}}
                      </p>
                    {{/if}}
                {{else}}
                  <p>
                    {{#each phoneNumber in switchboardEntry.sipAccount.phoneNumberShortList}}
                      <span class="label">
                        {{phoneNumber.number}}
                      </span>
                    {{/each}}
                  </p>

                  <p>
                    <span class="label label-warning">
                      offline
                    </span>
                  </p>
                {{/if}}
                </small>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </script>

  </div>
</div>

<script src="/js/libs/moment/moment.min.js"></script>
<script src="/js/libs/moment/lang/de.js"></script>
<script src="/js/libs/handlebars.js"></script>
<script src="/js/libs/ember.js"></script>
<script src="/js/libs/ember-data.js"></script>
<script src="/js/app.js"></script>
