<% content_for :title, "Switchboard #{@switchboard.name}" %>

<script>
  var switchboard_id = <%= @switchboard.id %>;
</script>

<div class='row'>
  <div class='span12'>
    <div id='container'></div>

    <script type="text/x-handlebars">
      <p>{{appName}}</p>
      <p>{{title}}</p>

      {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="switchboard">
      <h1>{{name}}</h1>
      <p>switchboard view marker</p>
      <p>Length: {{switchboardEntrys.length}}</p>
    </script>

  </div>
</div>

<script src="/js/libs/handlebars.js"></script>
<script src="/js/libs/ember.js"></script>
<script src="/js/libs/ember-data.js"></script>
<script src="/js/app.js"></script>
