= simple_form_for([ @phone_number, @call_forward ]) do |f|
  = f.error_notification

  = render "form_core", :f => f

  .form-actions
    = f.button :submit, conditional_t('call_forwards.form.submit')
