.inputs
  = f.input :name, :label => t('groups.form.name.label'), :hint => conditional_hint('groups.form.name.hint')
  = f.input :active, :label => t('groups.form.active.label'), :hint => conditional_hint('groups.form.active.hint')
  = f.input :comment, :label => t('groups.form.comment.label'), :hint => conditional_hint('groups.form.comment.hint')
