- content_for :title, t("calls.index.page_title")

- if @calls.count > 0
  = render "index_core", :calls => @calls, :parent => @parent

%a.btn.btn-small.btn-default{:href => method( :"new_#{@parent.class.name.underscore}_call_path" ).(@parent) }
  %i.icon-plus
  =t("calls.index.actions.create")
