-# Conferences
-#
- if (can?( :index, Conference ) && user.conferences.count > 0 ) || can?( :create, Conference )
  %h2= t('conferences.index.page_title')
  - if can?( :index, Conference ) && user.conferences.count > 0
    = render "conferences/index_core", :conferences => user.conferences
  = render :partial => 'shared/create_link', :locals => {:parent => user, :child_class => Conference}