-# SIP accounts
-#
- if (can?( :index, SipAccount ) && user.sip_accounts.count > 0 ) || can?( :create, SipAccount )
  %h2= t('sip_accounts.index.page_title')
  - if can?( :index, SipAccount ) && user.sip_accounts.count > 0
    = render "sip_accounts/index_core", :sip_accounts => user.sip_accounts
  = render :partial => 'shared/create_link', :locals => {:parent => user, :child_class => SipAccount}