-# VoicemailAccount
-#
- if (can?( :index, VoicemailAccount ) && user.voicemail_accounts.count > 0 ) || can?( :create, VoicemailAccount )
  %h2= t('voicemail_accounts.index.page_title')
  - if can?( :index, VoicemailAccount ) && user.voicemail_accounts.count > 0
    = render "voicemail_accounts/index_core", {:voicemail_accounts => user.voicemail_accounts, :voicemail_accountable => user}
  = render :partial => 'shared/create_link', :locals => {:parent => user, :child_class => VoicemailAccount}