- content_for :title, t("users.index.page_title")

- if @users.count > 0
  = render "index_core", :users => @users

= render :partial => 'shared/create_link', :locals => {:parent => @tenant, :child_class => User}