- content_for :title, t("fax_documents.show.page_title")

= render :partial => 'fax_document', :locals => {:fax_document => @fax_document}

- if ['sending', 'queued_for_sending'].include? @fax_document.state
  = subscribe_to "/fax_documents/#{@fax_document.id}"