- if current_user
  .flash.notice#system_message_display
    .light
      .sign i
      .message#system_message This is the place to display incoming calls and other stuff.

  = subscribe_to "/users/#{current_user.id}/system_messages"

  :javascript
    $('#system_message_display').hide()