- conf_call_topic = "The next big thing"
- title "Conference Call \u2013 Topic: #{conf_call_topic}"


%section.conference
  
  %section.panel.speakers.first
    %header
      %h3 Speakers
    ~# Naming this class message, since when you add or chat you're sending
    ~# a message to the server.
    %form.message
      %input{:placeholder => '# '}
    .actors
      - 2.times do
        .actor
          .info
            - user = current_user  #FIXME
            - avatar_url = user.image_url(:mini) || 'stubs/user-36x.jpg'
            = image_tag avatar_url.to_s, :class => 'display', :alt => "[ ]"
            %span.name Fake Stefan
            %span.status Joined at 03:00
          .voice-actions
            %a.make.listener{ :href => '#', :title => "Make listener" } Make listener
            %a.voice.unmuted{ :href => '#', :title => "Mute" } Mute
            %a.remove{ :href => '#', :title => "Remove from conference" } Remove

      
  %section.panel.listeners
    %header
      %h3 Listeners
    ~# Naming this class message, since when you add or chat you're sending
    ~# a message to the server.
    %form.message
      %input{:placeholder => '# '}
    .actors
      - 5.times do
        .actor
          .info
            - user = current_user  #FIXME
            - avatar_url = user.image_url(:mini) || 'stubs/user-36x.jpg'
            = image_tag avatar_url.to_s, :class => 'display', :alt => "[ ]"
            %span.name Fake Stefan
            %span.status Joined at 03:00
          .voice-actions
            %a.make.speaker{ :href => '#', :title => "Make speaker" } Make speaker
            %a.voice.unmuted{ :href => '#', :title => "Mute" } Mute
            %a.remove{ :href => '#', :title => "Remove from conference" } Remove
        
      
  %section.panel.log.last
    %header
      %h3 Log
    ~# Naming this class message, since when you add or chat you're sending
    ~# a message to the server.
    %form.message
      %input{:placeholder => 'Write a Message...'}
    .messages
      %div
        %span.name Mario:
        %span.content Sorry for the Delay!
      %div.status
        %span.name 03:11:
        %span.content Fake Stefan is now a Speaker.
      %div.status
        %span.name 03:10:
        %span.content Stefan Wintermeyer Left.
      %div
        %span.name Stefan:
        %span.content Hello World.
      %div.status
        %span.name 03:00:
        %span.content Stefan Wintermeyer Joined.
      %div
        %span.name Herpiti Derp:
        %span.content Cool Conference Room!
      %div
        %span.name Pamela:
        %span.content I'm here to sing along.

