- content_for :title, t("restore_jobs.index.page_title")

- if @restore_jobs && @restore_jobs.count > 0
  = render "index_core", :restore_jobs => @restore_jobs

= render :partial => 'shared/create_link', :locals => {:child_class => RestoreJob}