// Contents
// ----------------------------------------´

// Wrap Everything
#container {
  margin:0 auto;
  width:$site-total-width;
}

// Global Layout.
#content {
  @extend .ext-bradius;
  @include gradient(#fff, #FAF9FA);
  border:1px solid #C0C0CA;
  .light {
    @extend .ext-bradius;
    border:1px solid #ECECEF;
    padding:20px;
  }
}


// Content Header Object
// ----------------------------------------

.breadcrumbs {
  color:$border-dark-color;
  font-size:size(12px);
  margin-bottom: 5px;
  a {
    @include link-colors(#8A8A91, $link-hover-color, #8A8A91, #8A8A91);
  }
}

header.main {
  border-bottom:1px solid $border-dark-color;
  margin-bottom:20px;
  h1,h2 {
    color:#49494D;
    margin-top:0px;
  }
}


// Flash Notice Object
// ----------------------------------------
.flash {
  @extend .ext-bradius;
  @include box-shadow(0px 1px 2px darken(#F0F0F3, 20%));
  font-weight:bold;
  margin-bottom:$vertical-margin;
  position:relative;
  .sign {
    $sign-height: 26px;
    @include pos-y-center($sign-height);
    font-family:Georgia;
    font-size:23px;
    height:$sign-height;
  }
  .light {
    @extend .ext-texture;
    background-position:left bottom;
    padding:15px 21px;
  }
  .message {
    line-height:18px;
    padding-left:26px;
  }

  &.notice, &.flash {
    @include text-shadow(1px 1px 1px #EDF3FA);
    background:#CCE4FF;
    color:#37547B;
  }

  &.warning, &.alert {
    $border-bottom: #EE9C00;
    $border-light:#EDCC37;
    @include text-shadow(1px 1px 1px #FEF6D7);
    background:#FFE070;
    border:{
      bottom:1px solid $border-bottom;
      top:1px solid lighten(saturate($border-light, 5%), 9%);
    };
    color:#7A2300;
  }
}


// Scaffolding Tables
// ----------------------------------------
table {
  th {
    color: #6A747B;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 8px;
  }
  .odd {
    background:#F4F6FB;
    border-bottom:1px solid #EDEFF8;
  }
  td {
    padding:8px;
  }
}


// Pagination Object
// ----------------------------------------
.pagination {  @include pagination(); }


// Entries Object.
// ----------------------------------------
header.entries-nav { @extend .ext-bradius-inner-t; }
footer.entries-nav { @extend .ext-bradius-inner-b; }

.entries-nav {
  @include box-shadow(
    inset 0px 1px 0px #aad2ff, // Light Top
    0 -1px 0px #A3C9E7, // Shadow Top
    inset 0 -1px 2px #518CBC // Shadow Bottom
  );
  @include clearfix;
  @include gradient(#69ABFB, #75AAEC);
  line-height: 41px;
  padding: 0 14px;
  nav {
    color:#5490C3;
    float:left;
    margin-top: 1px;
    width:540px;
  }
  // ABC
  ol {
    @include inline-list;
    a {
      @include link-colors(#fff, #FFFFC2);
      @include text-shadow(0 2px 0px #5D96CC);
      font-size: 14px;
      font-weight:bold;
      padding:0 3px;
    }
  }
  .pagination {
    float:right;
  }
}


// Phone Book Entry
// ----------------------------------------

// Title Extension
.ext-pbe-big { display:block; font-size:size(18px); font-weight:bold; }

.phone-book-entries {
  table { margin:0;}
}
// Listing Version
tr.phone-book-entry {
  @include clearfix;
  color:#7F7F7F;
  td {
    vertical-align:middle;
  }
  &.odd {
    background:#F4F6FB;
    border-bottom:1px solid #EDEFF8;
  }
  img {
    opacity:0.8;
  }
  // All Link colors
  a {
    @include link-colors(#577DA2, $link-color);
  }
  .name {
    @extend .ext-pbe-big;
  }
  .company {
    font-size:size(16px);
  }
  .user {
    @include size(34%);
  }
  .phone {
    @extend .ext-pbe-big;
  }
  .contact {
    @include size(28%);
  }
  .extra {
    @include size(38%);
  }
}

// Call History Entry
// ----------------------------------------

.call-history-entries {
  table { margin:0;}
}

// Listing Version
tr.call-history-entry {
  @include clearfix;
  color:#7F7F7F;
  td {
    vertical-align:middle;
  }
  &.odd {
    background:#F4F6FB;
    border-bottom:1px solid #EDEFF8;
  }
  img {
    opacity:0.8;
  }
  // All Link colors
  a {
    @include link-colors(#577DA2, $link-color);
  }
  .select_box {
    @include size(2%);
  }
  .thumbnail {
    @include size(5%);
  }
  .time {
    @include size(15%);
  }
  .user {
    @include size(45%);
  }
  .status {
    @include size(15%);
  }
  .actions {
    @include size(5%);
  }
  .name {
    @extend .ext-pbe-big;
  }
  .phone {
    @extend .ext-pbe-big;
  }
  .call-forwarded {
    background:transparent image-url('icons/gs_forward_16x.png') no-repeat;
    padding-left: 20px;
  }
  .call-placed {
    background:transparent image-url('icons/gs_placed_16x.png') no-repeat;
    padding-left: 20px;
  }
  .call-received {
    background:transparent image-url('icons/gs_received_16x.png') no-repeat;
    padding-left: 20px;
  }
  .call-missed {
    background:transparent image-url('icons/gs_missed_16x.png') no-repeat;
    padding-left: 20px;
  }
  .voicemail {
    background:transparent image-url('icons/gs_envelope_16x.png') no-repeat;
    padding-left: 20px;
  }
  .duration {
    @extend .ext-pbe-big;
  }
}

// Voicemail Messages Entry
// ----------------------------------------

.voicemail-messages-entries {
  table { margin:0;}
}

// Listing Version
tr.voicemail-messages-entry {
  @include clearfix;
  color:#7F7F7F;
  td {
    vertical-align:middle;
  }
  &.odd {
    background:#F4F6FB;
    border-bottom:1px solid #EDEFF8;
  }
  img {
    opacity:0.8;
  }
  // All Link colors
  a {
    @include link-colors(#577DA2, $link-color);
  }
  .select_box {
    @include size(2%);
  }
  .time {
    @include size(15%);
  }
  .folder {
    @include size(10%);
  }
  .user {
    @include size(40%);
  }
  .status {
    @include size(5%);
  }
  .actions {
    @include size(5%);
  }
  .name {
    @extend .ext-pbe-big;
  }
  .phone {
    @extend .ext-pbe-big;
  }
  .voicemail-received {
    background:transparent image-url('icons/gs_received_16x.png') no-repeat;
    padding-left: 20px;
  }
  .voicemail-read {
    background:transparent image-url('icons/gs_envelope_16x.png') no-repeat;
    padding-left: 20px;
  }
  .duration {
    @extend .ext-pbe-big;
  }
}


//  users#show
// ----------------------------------------
#user-show {
  @include clearfix;
  .display  {
    float:left;
  }
  aside {
    float:left;
    padding-top:5px;
    width: 250px;
    p {
      margin-left:70+26px;
    }
  }
  section {
    float:right;
    width:650px;
    h2:first-child {
      margin-top:0;
    }
  }
}


// Simple Form Error Messgaes
// ----------------------------------------´
p.error_notification {
  @include gradient(mix(#EB6565, #994F5D, 60%), #994F5D);
  border: 1px solid #7B404A;
  border-radius: 4px;
  box-shadow: inset 1px 1px 0px darken(#f3a0a0, 10%),inset -1px -1px 0px darken(#eb6565, 3%);
  color:#FFF;
  font-weight: bold;
  margin: 0 0 0 158px;
  padding: 10px 15px;
  text-shadow: 2px 2px 1px #82434E;
  width: 282px;
}