// Footers
// ----------------------------------------

//@include sticky-footer(54px, "#container", "#footer-spacing", "footer");

footer#main {
  @include clearfix;
  position:relative;
  margin:$vertical-margin 0;
	@include gradient(#fff, #FAF9FA);
	border:1px solid #C0C0CA;
	@extend .ext-bradius;
	.light {
		padding:10px 20px;
		border:1px solid #ECECEF;
		@extend .ext-bradius;
	}

  ul {
    @include clearfix;
    list-style:none;
    float:left;
    margin:0;
    li {
      float:left;
      margin-bottom: 0px;
    }
    a {
      @include debug;
      line-height:43px;
      padding: 10px 20px;
      border:{
        left:1px solid $border-dark-color;
      };
    }
    li:first-child a{
      border-left:none;
    }
//    @include horizontal-navigation(
//      /*$height            : */ 32px,
//      /*$color             : */ red,
//      /*$hover-color       : */ red,
//      /*$active-color      : */ red,
//      /*$text-shadow       : */ #530008,
//      /*$bg                : */ none,
//      /*$bg-hover          : */ none,
//      /*$bg-active         : */ none,
//      /*$box-shadow        : */ none,
//      /*$box-shadow-hover  : */ none,
//      /*$box-shadow-active : */ none,
//      /*$border-light      : */ #E3E3E8,
//      /*$border-shadow     : */ lighten(#E3E3E8,5%),
//      /*$padding           : */ 0 10px,
//      /*$margin            : */ none,
//      /*\border-radius     : */ none,
//      /*$font-weight       : */ none,
//      /*$font-size         : */ 14px,
//      /*$tab-space         : */ none
//    );
  }

}

.amooma-logo {
  background:#FAF9FA;
  @include debug;
  float:right;
  padding:7px 7px 7px 16px;
  @include border-radius(0 $global-border-radius $global-border-radius 0);
  border-left:1px solid $border-dark-color;
  @include box-shadow(-1px -1px 1px #FFFFFF);
  a {
    @include image-replace('amooma-logo.png');
    float:right;
    opacity:0.6;
    margin: 5px 5px 0 0;
    &:hover {
      opacity:1;
    }
  }
  span {
    @include debug;
    font-size:11px;
    color:#74748B;
    float:left;
    line-height:30px;
    margin-right:10px;
  }

}