- title t("call_routes.index.page_title")

- if @call_routes && @call_routes.count > 0
  %table
    - @tables.each do |table|
      %tr
        %td{:colspan => 3}
          %h3= table
      = render "index_core", :call_routes => @call_routes.where(:table => table)
 
= render :partial => 'shared/create_link', :locals => {:child_class => CallRoute}
