!!! XML
%html
  %head
    %title= @phone_xml_object[:title]
  %body
    - @phone_xml_object[:entries].each do |entry|
      %br
        %a{ :href => entry[:url]}= entry[:text]

    %softkey{ :index => 1, :label => 'Home', :action => 'SoftKey:Home' }
    %softkey{ :index => 2, :label => 'Refresh', :action => 'SoftKey:Refresh' }
    %softkey{ :index => 4, :label => 'Exit', :action => 'SoftKey:Exit' }
    %softkey{ :index => 3, :label => 'Back', :action => 'SoftKey:Back' }
