// Phone Book Entry Show
// ----------------------------------------
// Icons: http://www.iconfinder.com/search/?q=iconset%3Acc_mono_icon_set
//http://www.iconfinder.com/search/?q=iconset%3AHelveticons_Social
section.phone-book-entry {
  @include clearfix;
  a {
    @include link-colors(#49494D, $link-color);
  }
  .sidebar {
    @include size(220px, auto, none, 0 1px 0 0);
    border-right:1px solid #E3E3E8;
    float:left;
  }
  .content {
    float:right;
    width:716px;

  }

  .username {
    font-size: 46px;
    font-weight:normal;
    margin: 0 0 10px 0;
  }
  .personal {
    margin-top:5px;
    span {
      margin-right:10px;
      padding-left:22px;
    }
    .nickname {
      background:transparent image-url('icons/user-16x.png') left 1px no-repeat;
    }
    .birthday {
      background:transparent image-url('icons/star-16x.png') left -1px no-repeat;;
    }
  }

  .work {
    font-size: 18px;
  }

  .tags {
    background:transparent image-url('icons/tag-16x.png') left 0px no-repeat;
    margin-top:10px;
    padding-left:22px;
  }


  .activity {
    & > h2 {
      font-size: 27px;
      font-weight: normal;
    }
    textarea {
      border-color: #E3E3E8;
      height: 15px;
      padding: 12px;
      width: 689px;
    }
    .entry {
      @include clearfix;
      background-position: 12px 9px;
      border-bottom: 1px solid #E3E3E8;
      font-size: 16px;

      padding: 12px 0px 15px 55px;
      .motive {

        display: block;
        float: left;
        line-height: 25px;
        width: 529px;

      }
      .timestamp {
        color: #929298;
        float: right;
        font-size: 12px;
        line-height: 26px;
      }
    }
  }


  // Icons
  .home {
    background:transparent image-url('icons/house-32x.png') left 2px no-repeat;
  }
  .office {
    background:transparent image-url('icons/suitcase-32x.png') left 2px no-repeat;
  }
  .cellphone {
    background:transparent image-url('icons/phone-mobile-32x.png') left 2px no-repeat;
  }
  .phone {
    background:transparent image-url('icons/phone-up-32x.png') left 2px no-repeat;
  }
  .phone-down {
    background:transparent image-url('icons/phone-down-32x.png') left 2px no-repeat;
  }
  .fax {
    background:transparent image-url('icons/fax-32x.png') left 2px no-repeat;
  }
  .skype {
    background:transparent image-url('icons/skype-32x.png') left 2px no-repeat;
  }
  .twitter {
    background:transparent image-url('icons/twitter-32x.png') left 2px no-repeat;
  }
  .voice-message {
    background:transparent image-url('icons/mic-32x.png') left 2px no-repeat;
  }



  .comment {
    @include clearfix;
    border-bottom:1px solid #E3E3E8;
    padding: 11px;
    .display {
      float:left;
      overflow:hidden;
    }
    .info {
      margin-bottom:4px;
    }
    .info,.body {
      padding-left:47px;
    }
    .commenter {
      font-size: 17px;
      font-weight: bold;
    }
    .time {
      color:#929298;
    }
    .info {
      display:block;
    }
  }


  .display {
    @include border-radius(10px 0 10px 0);
  }
  .description {
    margin:10px 0;
  }
  .widget {
    border-top:1px solid #E3E3E8;
    padding:23px 0;
    width:200px; // Width of the image
    div {
      margin:10px 0;
      padding-left:51px;
      a {
        color:#4B4B4B;
        display:block;
        font-size:size(17px);
        font-weight:bold;
      }
      span {
        color:#E3E3E8;
        font-size:size(12px);
      }
    }

    &.adresses {
      strong {
        display:block;
      }
    }
  }
}