; Gemeinschaft 5 gateways configuration file
; (c) AMOOMA GmbH 2012
;

[gateway1]
profile = gemeinschaft
name = gateway1
username = gateway1
realm = gemeinschaft
password = freeswitch
extension = default
proxy = 192.168.0.1 
expire-seconds = 600
register = true

[gateway2]
profile = gemeinschaft
name = sipgate
username = 1234567e0
password = ABCdeF
proxy = sipgate.com
register = true
extension = {sip_to_user}
