- content_for :title, t("addresses.index.page_title")

- if @addresses.count > 0
  = render "index_core", :addresses => @addresses

= render :partial => 'shared/create_link', :locals => {:child_class => Address}