// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

// Nav
li.display {
  line-height: 40px;
  img {
    vertical-align: middle;
    width: 26px;
    margin-top: -2px;
  }
}

// SimpleForm Inline Checkbox Fix
.simple-checkbox .checkbox {
  text-align: left;
  width: auto;
  float: none;
}
input, textarea, .uneditable-input {
  width: 500px;
  @media (max-width: 979px) {
    width: 200px;
  }
  @media (max-width: 480px) {
    width: 96%;
  }
}
input, textarea {
  &.invalid {
    box-shadow: inset -9px 0px 0px rgb(255, 219, 219), inset -14px 0px 0px rgb(255, 245, 245) !important;
  }
}

select {
  width: 520px;
  @media (max-width: 979px) {
    width: 220px;
  }
  @media (max-width: 480px) {
    width: 99.5%;
  }

}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

