// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

// Nav
li.display {
  line-height: 40px;
  img {
    vertical-align: middle;
    width: 26px;
    margin-top: -2px;
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

