= simple_form_for([@automatic_call_distributor, @acd_agent]) do |f|
  = f.error_notification

  = render "form_core", :f => f

  .form-actions
    = f.button :submit, conditional_t('acd_agents.form.submit')
