- content_for :title, t("gateway_settings.index.page_title")

- if @gateway_settings && @gateway_settings.count > 0
  = render "index_core", :gateway_settings => @gateway_settings

= render :partial => 'shared/create_link', :locals => {:parent => @gateway, :child_class => GatewaySetting}
